{% extends 'base.twig' %}

{% block jumbo %}

    <div class="row">
        <div class="col-sm-6">
            <h1>{{ customer.CustName }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>{{ customer.Street }}</p>
            <p>{{ customer.City }}, {{ customer.State }} {{ customer.Zip }}</p>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 bg-info">
            {% include 'order_details.twig' %}
        </div>
    </div>



{% endblock %}