{% extends 'base.twig' %}
{% block content %}

    <div class="row summary-bar">

        <div class="col-sm-3">
            <p>Total Orders: {{ orders|length }}</p>
        </div>
        <div class="col-sm-3">
            <p>Sales total: ${{ summary.sales|number_format(2) }}</p>
        </div>
        <div class="col-sm-3">
            <p>Items sold: {{ summary.items }}</p>
        </div>
        <div class="col-sm-3">
            <p>Total weight: {{ summary.weight }}</p>
        </div>
        <div class="col-sm-3">
            <p>Total profit: ${{ summary.totalProfit|number_format(2) }}</p>
        </div>
        <div class="col-sm-3">
            <p>Average order amount: ${{ summary.averageOrder|number_format(2) }}</p>
        </div>
        <div class="col-sm-3">
            <p>Average order profit: ${{ summary.averageProfit|number_format(2) }}</p>
        </div>


    </div>

    {% for order in orders %}

        <div class="row bg-info">
            <div class="col-md-4">
                <h5><a href="/customer/{{ order.CustNum }}">{{ order.CustName }}</a></h5>
                <p>{{ order.Street }}</p>
                <p>{{ order.City }}, {{ order.State }} {{ order.Zip }}</p>
            </div>
            <div class="col-md-4">

                <h5><a href="/order/{{ order.OrderNum }}">Order# {{ order.OrderNum }}</a></h5>
            </div>
            <div class="col-md-4">
                <h5>Order Date: {{ order.OrderDate }}</h5>
            </div>

            <div class="col-md-12 bg-warning order-details">
                {% include 'order_details.twig' with {'items': order.items } %}
            </div>

        </div>

    {% endfor %}


{% endblock %}