{% extends 'base.twig' %}

{% block jumbo %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Order # {{ order.OrderNum }}</h1>
        </div>
        <div class="col-sm-6">

            <h2>Order Date: {{ order.OrderDate }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>{{ order.CustName }}</p>
            <p>{{ order.Street }}</p>
            <p>{{ order.City }}, {{ order.State }} {{ order.Zip }}</p>

        </div>
    </div>

{% endblock %}

{% block content %}

<div class="row bg-info">
    <div class="col-md-12">
        {% include 'order_details.twig' %}
    </div>

    <div class="col-md-6 ">
        <p>Profit: ${{ profit }}</p>
    </div>


</div>


{% endblock %}