<table class="table table-striped">
    <caption>Order details</caption>
    <thead>
    <tr>
        <th>SKU</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Weight</th>
        <th>Extended price</th>
        <th>Extended Weight</th>
        <th>Profit</th>
    </tr>
    </thead>

    {% set total = 0 %}
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{item.SKU}}</td>
            <td>{{item.Description}}</td>
            <td>${{item.UnitPrice}}</td>
            <td>{{item.OrdQty}}</td>
            <td>{{item.UnitWeight}}</td>
            <td>${{item.UnitPrice * item.OrdQty}}</td>
            <td>{{item.UnitWeight * item.OrdQty}}</td>
            <td>${{ item.UnitPrice * item.OrdQty - item.Cost * item.OrdQty }}</td>

            {% set total = total + item.UnitPrice * item.OrdQty %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<p align="right">Order total: ${{total|number_format(2)}}</p>